<div data-id="!friends" class="contentWrapper autoPosition contactPage fullWidth removePadding m-Scrollbar backGround" data-src="assets/home_slider/home_slide_image10.jpg" data-src-small="assets/home_slider/home_slide_image10_s.jpg">

    	
	<!-- overlay -->
	<div class="overlayBg2 addBackgroundColor dark"></div>
    <div class="top_space"></div>

    <div class="container">
        
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom friends" data-animated-in="animated fadeInLeftBig" >
						<div class="hover_enable">
	                        <!-- Thumbnail -->
	                        <div class="porImgOver">
	                            <!-- Thumbnail Image -->
	                            <figure class="itemOver">
	                                <div class="overlay flatHover">
	                                    <div class="popup_overlay" >
	                                        <!-- Thumbnail overlay center text -->
	                                        <div class="popup_center">
	                                            <div class="inner_cont"> 
	                                                <div class="space_mini"> </div>                                         
	                                                <a href="http://www.iambloodflower.com/" target="_blank">
	                                                    <img class="plusSmall" src="assets/plusSmall.png">
	                                                </a>
	                                            </div>
	                                        </div>
	                                    </div>                  
	                                </div>
	                                <img class="preload" data-src="assets/friends/Bloodflower.jpg" alt="image_alt_text" />
	                            </figure>
	                        </div>
						</div>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10">
		            	<h4 class="upperCaseDark">Bloodflower</h4>
		                <p>A musical collaboration between Keep Recording's Tom Manning and musician Jonnie Owen.</p>
						<a href="http://www.iambloodflower.com/" target="_blank">website</a>
		                <hr>
		            </div>
				</div>
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom friends" data-animated-in="animated fadeInLeftBig" >
						<div class="hover_enable">
	                        <!-- Thumbnail -->
	                        <div class="porImgOver">
	                            <!-- Thumbnail Image -->
	                            <figure class="itemOver">
	                                <div class="overlay flatHover">
	                                    <div class="popup_overlay" >
	                                        <!-- Thumbnail overlay center text -->
	                                        <div class="popup_center">
	                                            <div class="inner_cont"> 
	                                                <div class="space_mini"> </div>                                         
	                                                <a href="http://parttimefriends.tumblr.com/" target="_blank">
	                                                    <img class="plusSmall" src="assets/plusSmall.png">
	                                                </a>
	                                            </div>
	                                        </div>
	                                    </div>                  
	                                </div>
	                                <img class="preload" data-src="assets/friends/ThePart-TimeFriends.jpg" alt="image_alt_text" />
	                            </figure>
	                        </div>
						</div>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10"  >
		            	<h4 class="upperCaseDark">Part-Time Friends</h4>
		                <p>The sublime sounds of French duo Florent and Pauline.</p>
						<a href="http://parttimefriends.tumblr.com/" target="_blank">website</a>
		                <hr>
		            </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom friends" data-animated-in="animated fadeInLeftBig" >
						<div class="hover_enable">
	                        <!-- Thumbnail -->
	                        <div class="porImgOver">
	                            <!-- Thumbnail Image -->
	                            <figure class="itemOver">
	                                <div class="overlay flatHover">
	                                    <div class="popup_overlay" >
	                                        <!-- Thumbnail overlay center text -->
	                                        <div class="popup_center">
	                                            <div class="inner_cont"> 
	                                                <div class="space_mini"> </div>                                         
	                                                <a href="https://www.facebook.com/AdamHandleyPhotography" target="_blank">
	                                                    <img class="plusSmall" src="assets/plusSmall.png">
	                                                </a>
	                                            </div>
	                                        </div>
	                                    </div>                  
	                                </div>
	                                <img class="preload" data-src="assets/friends/AdamHandleyPhotography.jpg" alt="image_alt_text" />
	                            </figure>
	                        </div>
						</div>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10">
		            	<h4 class="upperCaseDark">Adam Handley Photography</h4>
		                <p>Creative photography of landscapes, culture and events.</p>
						<a href="https://www.facebook.com/AdamHandleyPhotography" target="_blank">website</a>
		                <hr>
		            </div>
				</div>
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom friends" data-animated-in="animated fadeInLeftBig" >
						<div class="hover_enable">
	                        <!-- Thumbnail -->
	                        <div class="porImgOver">
	                            <!-- Thumbnail Image -->
	                            <figure class="itemOver">
	                                <div class="overlay flatHover">
	                                    <div class="popup_overlay" >
	                                        <!-- Thumbnail overlay center text -->
	                                        <div class="popup_center">
	                                            <div class="inner_cont"> 
	                                                <div class="space_mini"> </div>                                         
	                                                <a href="http://www.meggiewood.co.uk/" target="_blank">
	                                                    <img class="plusSmall" src="assets/plusSmall.png">
	                                                </a>
	                                            </div>
	                                        </div>
	                                    </div>                  
	                                </div>
	                                <img class="preload" data-src="assets/friends/MeggieWoodIllustration.jpg" alt="image_alt_text" />
	                            </figure>
	                        </div>
						</div>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10"  >
		            	<h4 class="upperCaseDark">Meggie Wood Illustration</h4>
		                <p>Meggie is a visual artist who creates stunning screen prints from a variety of different source formats.</p>
						<a href="http://www.meggiewood.co.uk/" target="_blank">website</a>
		                <hr>
		            </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom friends" data-animated-in="animated fadeInLeftBig" >
						<div class="hover_enable">
	                        <!-- Thumbnail -->
	                        <div class="porImgOver">
	                            <!-- Thumbnail Image -->
	                            <figure class="itemOver">
	                                <div class="overlay flatHover">
	                                    <div class="popup_overlay" >
	                                        <!-- Thumbnail overlay center text -->
	                                        <div class="popup_center">
	                                            <div class="inner_cont"> 
	                                                <div class="space_mini"> </div>                                         
	                                                <a href="http://www.un-plan-simple.com/" target="_blank">
	                                                    <img class="plusSmall" src="assets/plusSmall.png">
	                                                </a>
	                                            </div>
	                                        </div>
	                                    </div>                  
	                                </div>
	                                <img class="preload" data-src="assets/friends/UnPlanSimple.jpg" alt="image_alt_text" />
	                            </figure>
	                        </div>
						</div>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10">
		            	<h4 class="upperCaseDark">Un Plan Simple</h4>
		                <p>An imprint of Sony France, home of The Part-Time Friends.</p>
						<a href="http://www.un-plan-simple.com/" target="_blank">website</a>
		                <hr>
		            </div>
				</div>
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom friends" data-animated-in="animated fadeInLeftBig" >
						<div class="hover_enable">
	                        <!-- Thumbnail -->
	                        <div class="porImgOver">
	                            <!-- Thumbnail Image -->
	                            <figure class="itemOver">
	                                <div class="overlay flatHover">
	                                    <div class="popup_overlay" >
	                                        <!-- Thumbnail overlay center text -->
	                                        <div class="popup_center">
	                                            <div class="inner_cont"> 
	                                                <div class="space_mini"> </div>                                         
	                                                <a href="https://www.facebook.com/swannmusic/" target="_blank">
	                                                    <img class="plusSmall" src="assets/plusSmall.png">
	                                                </a>
	                                            </div>
	                                        </div>
	                                    </div>                  
	                                </div>
	                                <img class="preload" data-src="assets/friends/Swann.png" alt="image_alt_text" />
	                            </figure>
	                        </div>
						</div>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10"  >
		            	<h4 class="upperCaseDark">Swann</h4>
		                <p>The artistic vessel for Parisian singer/songwriter Chloé Lenique</p>
						<a href="https://www.facebook.com/swannmusic/" target="_blank">website</a>
		                <hr>
		            </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom friends" data-animated-in="animated fadeInLeftBig">
						<div class="hover_enable">
	                        <!-- Thumbnail -->
	                        <div class="porImgOver">
	                            <!-- Thumbnail Image -->
	                            <figure class="itemOver">
	                                <div class="overlay flatHover">
	                                    <div class="popup_overlay" >
	                                        <!-- Thumbnail overlay center text -->
	                                        <div class="popup_center">
	                                            <div class="inner_cont"> 
	                                                <div class="space_mini"> </div>                                         
	                                                <a href="https://twitter.com/benchristophers" target="_blank">
	                                                    <img class="plusSmall" src="assets/plusSmall.png">
	                                                </a>
	                                            </div>
	                                        </div>
	                                    </div>                  
	                                </div>
	                                <img class="preload" data-src="assets/friends/BenChristophers.jpg" alt="image_alt_text" />
	                            </figure>
	                        </div>
						</div>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10">
		            	<h4 class="upperCaseDark">Ben Christophers</h4>
		                <p>Famed for his work with Bat For Lashes, Ben is a friend and long term collaborator of Keep Recording.</p>
						<a href="https://twitter.com/benchristophers" target="_blank">website</a>
		                <hr>
		            </div>
				</div>
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom friends" data-animated-in="animated fadeInLeftBig">
						<div class="hover_enable">
	                        <!-- Thumbnail -->
	                        <div class="porImgOver">
	                            <!-- Thumbnail Image -->
	                            <figure class="itemOver">
	                                <div class="overlay flatHover">
	                                    <div class="popup_overlay" >
	                                        <!-- Thumbnail overlay center text -->
	                                        <div class="popup_center">
	                                            <div class="inner_cont"> 
	                                                <div class="space_mini"> </div>                                         
	                                                <a href="https://www.landr.com" target="_blank">
	                                                    <img class="plusSmall" src="assets/plusSmall.png">
	                                                </a>
	                                            </div>
	                                        </div>
	                                    </div>                  
	                                </div>
	                                <img class="preload" data-src="assets/friends/LANDR.png" alt="image_alt_text" />
	                            </figure>
	                        </div>
						</div>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10"  >
		            	<h4 class="upperCaseDark">LANDR</h4>
		                <p>The world's first intelligent drag-and-drop instant mastering service.</p>
						<a href="https://www.landr.com" target="_blank">website</a>
		                <hr>
		            </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom friends" data-animated-in="animated fadeInLeftBig">
						<div class="hover_enable">
	                        <!-- Thumbnail -->
	                        <div class="porImgOver">
	                            <!-- Thumbnail Image -->
	                            <figure class="itemOver">
	                                <div class="overlay flatHover">
	                                    <div class="popup_overlay" >
	                                        <!-- Thumbnail overlay center text -->
	                                        <div class="popup_center">
	                                            <div class="inner_cont"> 
	                                                <div class="space_mini"> </div>                                         
	                                                <a href="http://www.monnowvalleystudio.com/" target="_blank">
	                                                    <img class="plusSmall" src="assets/plusSmall.png">
	                                                </a>
	                                            </div>
	                                        </div>
	                                    </div>                  
	                                </div>
	                                <img class="preload" data-src="assets/friends/monnow.jpg" alt="image_alt_text" />
	                            </figure>
	                        </div>
						</div>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10">
		            	<h4 class="upperCaseDark">Monow Valley Recording Studio</h4>
		                <p>The legendary Monnow Valley Studio, a partner studio of Keep Recording.</p>
						<a href="http://www.monnowvalleystudio.com/" target="_blank">website</a>
		                <hr>
		            </div>
				</div>
				<div class="col-sm-6">               
            		<div class="col-xs-5 marginTopBottom friends" data-animated-in="animated fadeInLeftBig">
						<div class="hover_enable">
	                        <!-- Thumbnail -->
	                        <div class="porImgOver">
	                            <!-- Thumbnail Image -->
	                            <figure class="itemOver">
	                                <div class="overlay flatHover">
	                                    <div class="popup_overlay" >
	                                        <!-- Thumbnail overlay center text -->
	                                        <div class="popup_center">
	                                            <div class="inner_cont"> 
	                                                <div class="space_mini"> </div>                                         
	                                                <a href="http://www.joshevansdesign.com/" target="_blank">
	                                                    <img class="plusSmall" src="assets/plusSmall.png">
	                                                </a>
	                                            </div>
	                                        </div>
	                                    </div>                  
	                                </div>
	                                <img class="preload" data-src="assets/friends/josh.jpg" alt="image_alt_text" />
	                            </figure>
	                        </div>
						</div>
		            </div>
		            <div class="col-xs-7 marginTopBottom" data-animated-in="animated fadeInRightBig" data-animated-time="10"  >
		            	<h4 class="upperCaseDark">Josh Evans Design</h4>
		                <p>The designer behind the Keep Recording brand.</p>
						<a href="http://www.joshevansdesign.com/" target="_blank">website</a>
		                <hr>
		            </div>
				</div>
			</div>
		</div>
		
	</div>
   
    <hr class="bottom_space">
    
</div>