<div data-id="!gallery" class="contentWrapper autoPosition portfolioPage m-Scrollbar backGround parallax" data-src="assets/home_slider/home_slide_image5.jpg" data-src-small="assets/home_slider/home_slide_image5_s.jpg" >
	
    <!-- overlay -->
	<div class=" overlayBg addBackgroundColor bright"></div>

    <div class="top_space"> </div>
    
    <div class="container" >        
        <div class="row">  
            <div class="col-md-12" data-animated-in="animated fadeInUp"  data-animated-time="0"  data-animated-innerContent="yes"  >  
                <div class="heading_stroke"> 
                    <div class="heading_stroke_wrapper">
                        <div class="stroke-start half_transparent"><div class="stroke-line"></div></div>
                        <div class="stroke-text"><h1 class="upperCase">Our Portfolio</h1></div>
                        <div class="stroke-holder half_transparent"><div class="stroke-line"></div></div>
                    </div>
                </div>
            </div>           
        </div>
        
        <div class="row-fluid"  data-animated-in="animated fadeInUp"  data-animated-time="0"  data-animated-innerContent="yes" > 
            <div class="col-md-12 textAlignCenter">
                <h4>Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit nulla pariatur.</h4>
            </div>
        </div>
    
        <hr>
        <!-- Portfolio Category Navigation -->
        <div class="row-fluid"  data-animated-in="animated fadeInUp"  data-animated-time="0"  data-animated-innerContent="yes" > 
            <div class="col-md-12">            	
                <section class="controls alignCenter" >
                    <ul class="clearfix normal_over">
                        <!-- Add portfolio category -->   
                        <li class="options_title"><h6>&nbsp;<i class="fa fa-x fa-bars"></i></h6></li>                
                        <li  class="filter active" data-filter="all" >
                            <a >
                                <div class="catName"> 
                                    <span class="c_text">ALL</span>
                                </div>
                            </a>
                        </li>
                        <li class="filter" data-filter="web">
                            <a >
                                <div class="catName"> 
                                    <span class="c_text">WEB</span>
                                </div>
                            </a>
                        </li>
                        <li class="filter" data-filter="software">
                            <a > 
                                <div class="catName"> 
                                    <span class="c_text">Software</span>
                                </div>
                            </a>
                        </li>
                        <li  class="filter last" data-filter="eco" >
                            <a > 
                                <div class="catName"> 
                                    <span class="c_text">E-Commerce</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </section>               
            </div>
         
        </div>
    </div>
    
    
    <!-- Portfolio thumbnails. The thumbnail category is placed on the item class div -->
	<div class="container-fluid fullHeight removePadding text-center">
        <div class="masonry_items removeImgGrayFilter portfolio_items catFilterEffect_2"  >
			<div class="row-fluid" > 
				<div class="col-md-12"  data-animated-in="animated fadeInUp"  data-animated-time="0"  data-animated-innerContent="yes" > 
                    <!-- Thumbnail -->
                    <div class="item mix mix_all hover_enable web" >            
                        <div class="porImgOver" >
                            <!-- Thumbnail Image -->
                            <figure class="itemOver">
                                <div class="overlay flatHover">
                                    <div class="popup_overlay" >
                                        <!-- Thumbnail overlay center text -->
                                        <div class="popup_center">
                                            <div class="inner_cont"> 
                                                <div class="space_mini"> </div>                                     
                                                <a class="fxEmbossBtn fa_btn fa_zoom magnificPopup_item_gallery alignCenter" target="_self" >
                                                    <ul class="i_gallery">
                                                        <li data-href="assets/portfolio/image1.jpg" data-title='<span class="upperCase bold_weight">Consequatur software development</span>'></li>
                                                        <li data-href="assets/portfolio/image2.jpg"></li>
                                                        <li data-href="https://vimeo.com/80325008" data-type="iframe"></li>
                                                    </ul>
                                                    <span class="btn_icon"><i class="fa fa-briefcase"></i></span> 
                                                    <span class="btn_hover"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                  
                                </div>
                                <img class="preload" src="assets/0.png" data-src="assets/portfolio/thumb1.jpg" alt="image_alt_text" />
                            </figure>
                        </div> 
                        
                        <div class="imageText"> 
                            <div class="text_field">
                                <h5>Aiusmod Website</h5>
                                <h6>voluptatem accusantium</h6>
                            </div>                        
                        </div>     
                    </div>
                    
                      
                    <div class="item mix mix_all hover_enable web" >
                        <!-- Thumbnail -->
                        <div class="porImgOver" >
                            <!-- Thumbnail Image -->
                            <figure class="itemOver">
                                <div class="overlay flatHover">
                                    <div class="popup_overlay" >
                                        <!-- Thumbnail overlay center text -->
                                        <div class="popup_center">
                                            <div class="inner_cont"> 
                                                <div class="space_mini"> </div>                                         
                                                <a class="fxEmbossBtn fa_btn fa_zoom magnificPopup alignCenter" data-title='<span class="upperCase bold_weight">Architecto veritatis et quasi</span>'  href="assets/portfolio/image2.jpg" target="_self">
                                                    <span class="btn_icon"><i class="fa fa-plus"></i></span> 
                                                    <span class="btn_hover"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                  
                                </div>
                                <img class="preload" src="assets/0.png" data-src="assets/portfolio/thumb2.jpg" alt="image_alt_text" />
                            </figure>
                        </div>
                        
                        <div class="imageText"> 
                            <div class="text_field">
                                <h5>Laudantium Photoshoot</h5>
                                <h6>Dolores eos qui ration</h6>
                            </div>                        
                        </div>    
                    </div>
                    
                      
                    <div class="item mix mix_all hover_enable web" >
                        <!-- Thumbnail -->
                        <div class="porImgOver" >
                            <!-- Thumbnail Image -->
                            <figure class="itemOver">
                                <div class="overlay flatHover">
                                    <div class="popup_overlay" >
                                        <!-- Thumbnail overlay center text -->
                                        <div class="popup_center">
                                            <div class="inner_cont">
                                                <div class="space_mini"> </div>
                                                <div class="detail_text">                    
                                                    <div class="popup_text">
                                                        <div class="container" >               
                                                            <div class="row-fluid">
                                                                <div class="col-md-12">
                                                                    <h3>Tliquam tlaoreet elit</h3>
                                                                    <p>Consectetuer adipiscing elit euismod tincidunt. sed diam nonummy nibh euismod tlaoreet dolore magna aliquam erat volutpat. consectetuer adipiscing elit, Nibh euismod tlaoreet dolore magna aliquam erat volutpat. sed diam nonummy magna aliquam erat volutpat consectetuer adipiscing elit.</p>
                                                                    <p class="tiny_font">adipiscing onsectetuer adipiscing elit euismod tincidunt. sed diam nonummy nibh euismod tlaoreet dolore magna aliquam erat volutpat. consectetuer adipiscing elit, Nibh euismod tlaoreet dolore magna aliquam erat volutpat. sed diam nonummy magna aliquam erat volutpat consectetuer adipiscing elit. magna aliquam erat volutpat. consectetuer adipiscing elit, Nibh euismod tlaoreet dolore magna aliquam erat volutpat. sed diam nonummy magna aliquam erat volutpat consectetuer adipiscing elit</p>
                                                                </div>
                                                           </div>
                                                        </div>
                                                    </div>
                                                    <a  class="fxEmbossBtn fa_btn fa_zoom link_btn alignCenter" target="_self" >
                                                        <span class="btn_icon"><i class="fa fa-file-text-o"></i></span> 
                                                        <span class="btn_hover"></span>
                                                    </a>                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>                  
                                </div>
                            <img class="preload" src="assets/0.png" data-src="assets/portfolio/thumb3.jpg" alt="image_alt_text" />
                            </figure>
                        </div> 
                        
                        <div class="imageText"> 
                            <div class="text_field">
                                <h5>Cupidatat Print</h5>
                                <h6>quis nostrum exercitationem</h6>
                            </div>                        
                        </div>
                        
                    </div>
                    
                        
                    <div class="item mix mix_all hover_enable web" >
                        <!-- Thumbnail -->
                        <div class="porImgOver" >
                            <!-- Thumbnail Image -->
                            <figure class="itemOver">
                                <div class="overlay flatHover">
                                    <div class="popup_overlay" >
                                        <!-- Thumbnail overlay center text -->
                                        <div class="popup_center">
                                            <div class="inner_cont">
                                                <div class="space_mini"> </div>  
                                                <a class="fxEmbossBtn fa_btn fa_zoom magnificPopup mfp-iframe alignCenter"  href="https://vimeo.com/80325008" target="_self">
                                                    <span class="btn_icon"><i class="fa fa-video-camera"></i></span> 
                                                    <span class="btn_hover"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                  
                                </div>
                            <img class="preload" src="assets/0.png" data-src="assets/portfolio/thumb4.jpg" alt="image_alt_text" />
                            </figure>
                        </div>                
                        
                        <div class="imageText"> 
                            <div class="text_field">
                                <h5>Aiusmod Website</h5>
                                <h6>voluptatem accusantium</h6>
                            </div>                        
                        </div> 
                        
                    </div>            
                    
                        
                    <div class="item mix mix_all hover_enable software" > 
                        <!-- Thumbnail -->
                       <div class="porImgOver" >
                            <!-- Thumbnail Image -->
                            <figure class="itemOver">
                                <div class="overlay flatHover">
                                    <div class="popup_overlay" >
                                        <!-- Thumbnail overlay center text -->
                                        <div class="popup_center">
                                            <div class="inner_cont">
                                                <div class="space_mini"> </div>  
                                                <a class="fxEmbossBtn fa_btn fa_zoom magnificPopup alignCenter" data-title='<span class="upperCase bold_weight">Architecto veritatis et quasi</span>'  href="assets/portfolio/image5.jpg" target="_self">
                                                    <span class="btn_icon"><i class="fa fa-plus"></i></span> 
                                                    <span class="btn_hover"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                  
                                </div>
                            <img class="preload" src="assets/0.png" data-src="assets/portfolio/thumb5.jpg" alt="image_alt_text" />
                            </figure>
                        </div>                
                        
                        <div class="imageText"> 
                            <div class="text_field">
                                <h5>Minim veniam</h5>
                                <h6>Dicta sunt explicabo</h6>
                            </div>                        
                        </div>
                        
                    </div>
                 
                        
                    <div class="item mix mix_all hover_enable software" >
                        <!-- Thumbnail -->
                        <div class="porImgOver" >
                            <!-- Thumbnail Image -->
                            <figure class="itemOver">
                                <div class="overlay flatHover">
                                    <div class="popup_overlay" >
                                        <!-- Thumbnail overlay center text -->
                                        <div class="popup_center">
                                            <div class="inner_cont">
                                                <div class="space_mini"> </div>  
                                                <a class="fxEmbossBtn fa_btn fa_zoom magnificPopup_item_gallery alignCenter" target="_self">
                                                    <ul class="i_gallery">
                                                        <li data-href="assets/portfolio/image1.jpg" data-title='<span class="upperCase bold_weight">Consequatur software development</span>'></li>
                                                        <li data-href="assets/portfolio/image2.jpg"></li>
                                                        <li data-href="https://vimeo.com/80325008" data-type="iframe"></li>
                                                    </ul>
                                                    <span class="btn_icon"><i class="fa fa-briefcase"></i></span> 
                                                    <span class="btn_hover"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                  
                                </div>
                            <img class="preload" src="assets/0.png" data-src="assets/portfolio/thumb6.jpg" alt="image_alt_text" />
                            </figure>
                        </div>
                        
                        <div class="imageText"> 
                            <div class="text_field">
                                <h5>Ratione voluptatem</h5>
                                <h6>porro quisquam est</h6>
                            </div>                        
                        </div>
                        
                    </div>
                    
                    
                    <div class="item mix mix_all hover_enable software" > 
                        <!-- Thumbnail -->
                        <div class="porImgOver" >
                            <!-- Thumbnail Image -->
                            <figure class="itemOver">
                                <div class="overlay flatHover">
                                    <div class="popup_overlay" >
                                        <!-- Thumbnail overlay center text -->
                                        <div class="popup_center">
                                            <div class="inner_cont">
                                                <div class="space_mini"> </div>
                                                <div class="detail_text">                    
                                                    <div class="popup_text">
                                                        <div class="container" >               
                                                            <div class="row-fluid">
                                                                <div class="col-md-12">
                                                                    <h3>Zdliquam ltaore etelit</h3>
                                                                    <p>Consectetuer adipiscing elit euismod tincidunt. sed diam nonummy nibh euismod tlaoreet dolore magna aliquam erat volutpat. consectetuer adipiscing elit, Nibh euismod tlaoreet dolore magna aliquam erat volutpat. sed diam nonummy magna aliquam erat volutpat consectetuer adipiscing elit.</p>
                                                                    <p class="tiny_font">adipiscing onsectetuer adipiscing elit euismod tincidunt. sed diam nonummy nibh euismod tlaoreet dolore magna aliquam erat volutpat. consectetuer adipiscing elit, Nibh euismod tlaoreet dolore magna aliquam erat volutpat. sed diam nonummy magna aliquam erat volutpat consectetuer adipiscing elit. magna aliquam erat volutpat. consectetuer adipiscing elit, Nibh euismod tlaoreet dolore magna aliquam erat volutpat. sed diam nonummy magna aliquam erat volutpat consectetuer adipiscing elit</p>
                                                                </div>
                                                           </div>
                                                        </div>
                                                    </div>
                                                    <a  class="fxEmbossBtn fa_btn fa_zoom link_btn alignCenter" target="_self" >
                                                        <span class="btn_icon"><i class="fa fa-file-text-o"></i></span> 
                                                        <span class="btn_hover"></span>
                                                    </a>                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>                  
                                </div>
                            <img class="preload" src="assets/0.png" data-src="assets/portfolio/thumb7.jpg" alt="image_alt_text" />
                            </figure>
                        </div> 
                        
                        <div class="imageText"> 
                            <div class="text_field">
                                <h5>Neque porro</h5>
                                <h6>Quia dolor sit ame</h6>
                            </div>                        
                        </div>
                        
                    </div>
                    
                    <div class="item mix mix_all hover_enable software" > 
                        <!-- Thumbnail -->            
                        <div class="porImgOver" >
                            <!-- Thumbnail Image -->
                            <figure class="itemOver">
                                <div class="overlay flatHover">
                                    <div class="popup_overlay" >
                                        <!-- Thumbnail overlay center text -->
                                        <div class="popup_center">
                                            <div class="inner_cont">
                                                <div class="space_mini"> </div>  
                                                <a class="fxEmbossBtn fa_btn fa_zoom magnificPopup_item_gallery alignCenter" target="_self">
                                                    <ul class="i_gallery">
                                                        <li data-href="assets/portfolio/image1.jpg" data-title='<span class="upperCase bold_weight">Consequatur software development</span>'></li>
                                                        <li data-href="assets/portfolio/image2.jpg"></li>
                                                        <li data-href="https://vimeo.com/80325008" data-type="iframe"></li>
                                                    </ul>
                                                    <span class="btn_icon"><i class="fa fa-briefcase"></i></span> 
                                                    <span class="btn_hover"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                  
                                </div>
                            <img class="preload" src="assets/0.png" data-src="assets/portfolio/thumb8.jpg" alt="image_alt_text" />
                            </figure>
                        </div>  
                        
                        <div class="imageText"> 
                            <div class="text_field">
                                <h5>Magnam aliquam</h5>
                                <h6>Commodi consequatur</h6>
                            </div>                        
                        </div>
                        
                    </div>
                    
                    
                    <div class="item mix mix_all hover_enable software" > 
                        <!-- Thumbnail -->            
                        <div class="porImgOver" >
                            <!-- Thumbnail Image -->
                            <figure class="itemOver">
                                <div class="overlay flatHover">
                                    <div class="popup_overlay" >
                                        <!-- Thumbnail overlay center text -->
                                        <div class="popup_center">
                                            <div class="inner_cont">
                                                <div class="space_mini"> </div>  
                                                <a class="fxEmbossBtn fa_btn fa_zoom magnificPopup alignCenter" data-title='<span class="upperCase bold_weight">Architecto veritatis et quasi</span>'  href="assets/portfolio/image9.jpg" target="_self">
                                                    <span class="btn_icon"><i class="fa fa-plus"></i></span> 
                                                    <span class="btn_hover"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                  
                                </div>
                            <img class="preload" src="assets/0.png" data-src="assets/portfolio/thumb9.jpg" alt="image_alt_text" />
                            </figure>
                        </div>    
                        
                        <div class="imageText"> 
                            <div class="text_field">
                                <h5>Quasi architecto</h5>
                                <h6>vitae dicta sunt</h6>
                            </div>                        
                        </div>
                        
                    </div>
                    
                    
                    
                    <div class="item mix mix_all hover_enable eco" > 
                        <!-- Thumbnail -->
                        <div class="porImgOver" >
                            <!-- Thumbnail Image -->
                            <figure class="itemOver">
                                <div class="overlay flatHover">
                                    <div class="popup_overlay" >
                                        <!-- Thumbnail overlay center text -->
                                        <div class="popup_center">
                                            <div class="inner_cont">
                                                <div class="space_mini"> </div>  
                                                <a class="fxEmbossBtn fa_btn fa_zoom magnificPopup mfp-iframe alignCenter"  href="https://vimeo.com/80325008" target="_self">
                                                    <span class="btn_icon"><i class="fa fa-video-camera"></i></span> 
                                                    <span class="btn_hover"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                  
                                </div>
                            <img class="preload" src="assets/0.png" data-src="assets/portfolio/thumb10.jpg" alt="image_alt_text" />
                            </figure>
                        </div>  
                        
                        <div class="imageText"> 
                            <div class="text_field">
                                <h5>Modi tempora incidun</h5>
                                <h6>Exercitationem ullam corporis</h6>
                            </div>                        
                        </div>
                        
                    </div>
                    
                    
                    
                    
                   <div class="item mix mix_all hover_enable eco" > 
                        <!-- Thumbnail -->            
                        <div class="porImgOver" >
                            <!-- Thumbnail Image -->
                            <figure class="itemOver">
                                <div class="overlay flatHover">
                                    <div class="popup_overlay" >
                                        <!-- Thumbnail overlay center text -->
                                        <div class="popup_center">
                                            <div class="inner_cont">
                                                <div class="space_mini"> </div>  
                                                <a class="fxEmbossBtn fa_btn fa_zoom magnificPopup alignCenter" data-title='<span class="upperCase bold_weight">Architecto veritatis et quasi</span>'  href="assets/portfolio/image5.jpg" target="_self">
                                                    <span class="btn_icon"><i class="fa fa-plus"></i></span> 
                                                    <span class="btn_hover"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                  
                                </div>
                            <img class="preload" src="assets/0.png" data-src="assets/portfolio/thumb5.jpg" alt="image_alt_text" />
                            </figure>
                        </div>   
                        
                        <div class="imageText"> 
                            <div class="text_field">
                                <h5>Magni dolores eos</h5>
                                <h6>Neque porro quisquam est</h6>
                            </div>                        
                        </div>
                        
                   </div>
                    
                   <div class="item mix mix_all hover_enable eco" > 
                        <!-- Thumbnail -->            
                        <div class="porImgOver" >
                            <!-- Thumbnail Image -->
                            <figure class="itemOver">
                                <div class="overlay flatHover">
                                    <div class="popup_overlay" >
                                        <!-- Thumbnail overlay center text -->
                                        <div class="popup_center">
                                            <div class="inner_cont">   
                                                <div class="space_mini"> </div>                                       
                                                <a class="fxEmbossBtn fa_btn fa_zoom magnificPopup_item_gallery alignCenter" target="_self">
                                                    <ul class="i_gallery">
                                                        <li data-href="assets/portfolio/image1.jpg" data-title='<span class="upperCase bold_weight">Consequatur software development</span>'></li>
                                                        <li data-href="assets/portfolio/image2.jpg"></li>
                                                        <li data-href="https://vimeo.com/80325008" data-type="iframe"></li>
                                                    </ul>
                                                    <span class="btn_icon"><i class="fa fa-briefcase"></i></span> 
                                                    <span class="btn_hover"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                  
                                </div>
                            <img class="preload" src="assets/0.png" data-src="assets/portfolio/thumb2.jpg" alt="image_alt_text" />
                            </figure>
                        </div>   
                        
                        <div class="imageText"> 
                            <div class="text_field">
                                <h5>Suscipit laboriosam</h5>
                                <h6>nisi aliquid commodi consequatu</h6>
                            </div>                        
                        </div> 
                        
                    </div>
                       
                </div>
        
			</div>
        
        </div>
        
	</div>
    <hr>
	<hr class="bottom_space">
        
</div>
