<div  data-id="!home" class="contentWrapper m-Scrollbar fullHeight removeNexPrevBtn backGround homeSlider" >
    		
	<!-- overlay -->
	<div class="overlayBg addBackgroundColor"></div>
	<div class="fullScreenSlider fullWidth">
    
    	<div class="homeslider_topheading" data-animated-time="5" data-animated-in="animated fadeInUp" data-animated-out="animated fadeOutDown">                
            <div class="largeText_boxed">Welcome to Keep Recording</div>
        </div>
                 
        <div class="slideshow_cycle hideOverflow bottomLeftAlign setMiddleAlign textAlignCenter"  data-transition="scrollUp" 
			data-starttime="2000" data-easing="easeInOutQuart" data-animated-time="20" data-animated-in="animated fadeInUp" 
			data-animated-out="animated fadeOutDown" >
            <div class="slide">
                <div class="bottomLeftSlide">
                      <h1 class="upperCase fittext2">A professional recording studio<br/>
                      In the heart of the Welsh countryside</h1>
                </div>
            </div> 
            
            <!--<div class="slide">
              <div class="bottomLeftSlide">
                <h1 class="upperCase fittext2">Every element to be animate</h1>
                <div class="dotted noBorder"></div>
                <h1>Power by amimate.css and transit.js</h1>
               </div>
            </div>                       
            
            <div class="slide">
              <div class="bottomLeftSlide">
                <h1 class="upperCase fittext2">Full responsive design</h1>
                <hr>
                <h1>Optimize for mobile device</h1>
                </div>
            </div>
            
            <div class="slide">
              <div class="bottomLeftSlide">
                <h1 class="upperCase fittext2">Clean & Simple Design </h1>
                 <hr>
                <h1>Easy and fast to browser</h1>
                </div>
            </div>
            
             <div class="next"> 
                <a class="fxEmbossBtn fa_btn" >
                    <span class="btn_icon"><i class="fa fa-arrow-right"></i></span> 
                    <span class="btn_hover"></span>
                </a>
            </div>
            
            <div class="prev">
                <a class="fxEmbossBtn fa_btn" >
                    <span class="btn_icon"><i class="fa fa-arrow-left"></i></span> 
                    <span class="btn_hover"></span>
                </a>
            </div>-->  
     
        </div>
        <div class="cycleNextPrev circular_button" data-animated-time="15" data-animated-in="animated fadeInUp" ></div>
   
	</div>
</div>