<div  data-id="!news" class="contentWrapper autoPosition contactPage fullWidth removePadding m-Scrollbar backGround" data-src="assets/home_slider/home_slide_image10.jpg" data-src-small="assets/home_slider/home_slide_image10_s.jpg">

    	
	<!-- overlay -->
	<div class="overlayBg2 addBackgroundColor dark"></div>
    <div class="top_space"></div>
    
    <div class="container">        
        <div class="row">  
            <div class="col-md-12" data-animated-in="animated fadeInUp"  data-animated-time="0"  data-animated-innerContent="yes"  >  
                <div class="heading_stroke"> 
                    <div class="heading_stroke_wrapper">
                        <div class="stroke-start half_transparent"><div class="stroke-line"></div></div>
                        <div class="stroke-text"><h1 class="upperCaseDark">Latest News</h1></div>
                        <div class="stroke-holder half_transparent"><div class="stroke-line"></div></div>
                    </div>
                </div>
            </div>           
        </div> 
    </div>
    
    <div class="container">
        <div class="row-fluid page_header2"   data-animated-time="10" data-animated-in="animated fadeInUp"  data-animated-innerContent="yes" > 
            <div class="col-md-6">
                <h4>Part-Time Friends unveil 'Art Counter' EP</h4>
               <p>The first taste of the Part-Time Friends material that was recorded at Keep Recording is here.

				Check out 'Art Counter' the lead single from their upcoming EP of the same name.

				The EP is out on Un Plan Simple / Sony Music on 1st December 2014.</p>
               <hr> 
				<div class="popup_links">
                   <!-- Thumbnail overlay to display video -->
                   <a class="magnificPopup mfp-iframe" href="https://www.youtube.com/watch?v=PU8mEjEnTfc" target="_self">
                       <span class="link_video">Watch the video</span>
                   </a>
               </div>
            </div>
            <div class="col-md-6">
	            <div class="popup_links">
	                <!-- Thumbnail overlay to display video -->
	                <a class="magnificPopup mfp-iframe" href="https://www.youtube.com/watch?v=PU8mEjEnTfc" target="_self">
	                    <span class="link_video"><%= image_tag('../assets/news/first.jpg') %></span>
	                </a>
	            </div>  
            </div>
        </div>
        
        <hr class="separator_mini">
        <div class="row-fluid page_header2"   data-animated-time="10" data-animated-in="animated fadeInUp"  data-animated-innerContent="yes" > 
            <div class="col-md-6">
                <h4>Iggy Azalea gets first platinum of the year!</h4>
               <p>Iggy Azalea's single 'Work' joined her album 'The New Classic' in the realms of platinum status.

				Keep Recording's Tom Manning took a part in the engineering of her album.

				Well done Iggy!</p>
               <hr>
<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/61187079%3Fsecret_token%3Ds-f82RH&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
            </div>
            <div class="col-md-6">
				<span class="link_video"><%= image_tag('../assets/news/second.jpg') %></span>
            </div>
        </div>
            
    </div>
      
    <hr class="bottom_space">

    
</div>


