.friends img {max-width:100%;}
.plus {width:480px !important;margin-top:-90px!important;}
.plusSmall {width:100% !important;margin-top:-28%!important;}
.center {text-align:center;}

.imageFade:hover {
	opacity:0.2;
	transition: opacity .5s ease-out;
	-moz-transition: opacity .5s ease-out;
	-webkit-transition: opacity .5s ease-out;
	-o-transition: opacity .5s ease-out;
}

.bands li {margin-left:30px;list-style-type: circle;}
.img {max-width:100%;}
.img img {width:100%;}

@media only screen and (min-width: 992px) and (max-width:1199px ) {	
	.page_header2 { border:0;margin:20px 0 0px 0;padding:10px 0 20px 0; }
}