<!-- Footer -->

<div class="fullWidth footer" >

    <div class="showHide_content">
    
    	<hr class="foooter_space">
        
        <div class="container">
            <div class="row-fluid">        
                <div class="col-md-4" >
                	<ul class="font_awesome addFxEmbossBtn"> 
                        <li ><a class="facebook" href="https://www.facebook.com/keeprecording" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li ><a class="twitter" href="https://twitter.com/keeprecording" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li ><a class="soundcloud" href="https://soundcloud.com/keeprecording" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
                        <li ><a class="linkedin" href="https://www.linkedin.com/in/tomwnield" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
                        <li ><a class="dribbble" href="http://instagram.com/keeprecording" target="_blank"><i class="fa fa-instagram"></i></a></li>
						<li ><a class="googleplus" href="https://plus.google.com/u/0/113643214151004123861/about" target="_blank">
							<i class="fa fa-google-plus"></i></a>
						</li>
                    </ul>
                    <hr class="separator">
                </div>
                
                <div class="col-md-4 down">
                      <h6 class="textAlignCenter upperCase"><span class="tiny_font">Keep Recording | © 2014 - madebyeggs</span></h6>
                </div>
                
                <div class="col-md-4 down">    
					<h6>    
                    	<span class="alignRight font_small">
                        	<a href="mailto:info@keeprecording.co.uk" target="_blank" class="normal">
								<i class="fa fa-envelope-o right_spacing_mini"></i>info@keeprecording.co.uk
							</a> 
						</span> 
					</h6>
                 </div>
                
            </div>
        </div>
    
	</div>
    
</div>

<!-- Footer -->



<!-- Popup overly inline content is placed inside the below popup_inlines class div -->

<div class="popup_inlines">
    <div class="container" id="sample_popup_inline">
    	<div class="col-md-3"></div>
        <div class="col-md-6">
        	<h4>Marena Studio & interactive LTD</h4>
        	<p>sunt in culpa qui officia deserunt mollit anim id est laborum.  irure dolor in pvelit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="tiny_font">Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script> 



