<div class="preloadimages_inline">
    <img alt="image_alt_text" class="preload cssBackground" src="assets/0.png" data-src="assets/sprite.png" data-src-2x="assets/sprite@2x.png">
    <img alt="image_alt_text" class="preload" src="assets/0.png" data-src="assets/home_slider/home_slide_image1.jpg"
 	data-src-small="assets/home_slider/home_slide_image1_s.jpg">
    <img alt="image_alt_text" class="preload" src="assets/0.png" data-src="assets/home_slider/home_slide_image2.jpg"
 	data-src-small="assets/home_slider/home_slide_image2_s.jpg">
    <img alt="image_alt_text" class="preload" src="assets/0.png" data-src="assets/home_slider/home_slide_image3.jpg"
 	data-src-small="assets/home_slider/home_slide_image3_s.jpg">
    <img alt="image_alt_text" class="preload" src="assets/0.png" data-src="assets/home_slider/home_slide_image4.jpg"
 	data-src-small="assets/home_slider/home_slide_image4_s.jpg">
    <img alt="image_alt_text" class="preload" src="assets/0.png" data-src="assets/home_slider/home_slide_image5.jpg"
 	data-src-small="assets/home_slider/home_slide_image5_s.jpg">   
</div>

<!--  loading Objects -->
<div class="loading_objects">
    <div class="loading_2x">
        <div class="track"></div>
        <div class="ball"></div>
         <div class="text"></div>
    </div>

    <div class="loading_x">
        <div class="track"></div>
        <div class="ball"></div>       
    </div>    
</div>


<!--  site loading -->
<div class="pageFade bg_white" >  </div>


<!--
Header Navigation Area
Option to choose 2 types of header, 1. menuType1 and menuType2
-->


<div class="header menuType2 mini_menu mini showHide_content" >
	<div class="container">
    	<div class="row-fluid">
            <div class="col-md-2 removePadding">
                 <!-- Place your logo here -->
                <div class="logo" >
                    <a href="#!home"><img src="assets/logo.png" alt="logo text"></a>
                </div>
            
                <div class="mobile_menu_btn">  </div>
            
            </div>
            <div class="col-md-10 mobi">
                <div class="container-fluid mobi">
                    <div class="row mobi" >
                        <!-- Site Menu -->
                        <div class="col-md-12 mobi">
                                              
                            <nav class="header_content">
                                <ul class="nav">
                                    <!--  Add require site page navigation -->                    
                                    <li><a href="#!home" class="first active"></i>Home</a>
                                    <li><a>About</a><!--href="#!about-->
                                    <li><a>News</a><!--href="#!news-->                                                         
                                    <li><a>Gallery</a><!--href="#!gallery-->
                                    <li><a>Equipment</a><!--href="#!equipment-->
									<li><a href="#!friends">Friends</a>
                                    <li><a href="#!contactus" class="last">Contact / Bookings</a>                                         
                                </ul>
                            </nav>                          

                        </div>
                    </div>
            
                </div>
            </div>
		</div>  
	</div>   
</div>  


<!--
Page navigation - Use to Scroll the page
-->

<div class="pageNavigation hideBtn">
	<div class="previousPage autoPosition">
    	<span class="btn_icon"></span>
	</div>
	<div class="nextPage autoPosition">     	
        <span class="btn_icon"></span>  
	</div>
</div>    
            

<!-- pgScrollUp navigation used to scroll the page to top position, Currently its hide in this template.
If you need this button just remove the comment code
-->

<div class="pgScrollUp fxEmbossBtn mobile_Only">
	<span class="btn_icon"></span> 
	<span class="btn_hover"></span> 
</div>


<div class="footer_close fxEmbossBtn fadeAfterLoad" data-close=".showHide_content" > 
	<span class="btn_icon"></span> 
	<span class="btn_hover"></span> 
</div> 


<!-- Dotted navigation, It display on the right side of the website -->

<!--<ul class="dotted-nav">
	<li><a title="Home" class="menu_link" href="#!home"><span></span></a></li>
	<li><a title="About" class="menu_link" href="#!about"><span></span></a></li>
    <li><a title="Services" class="menu_link" href="#!services"><span></span></a></li>
    <li><a title="Portfolio" class="menu_link" href="#!portfolio"><span></span></a></li>
    <li><a title="Contact us" class="menu_link" href="#!contactus"><span></span></a></li>
</ul>-->


<!-- Complete web site content is placed inside the bodyContainer class div except footer -->